In [5]:
import pandas as pd

In [6]:
import pickle

In [7]:
census = pd.read_csv('data/NY_census_data.csv', skiprows=1)

In [8]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1794 entries, 0 to 1793
Data columns (total 15 columns):
Id                                                     1794 non-null object
Id2                                                    1794 non-null int64
Geography                                              1794 non-null object
Number; SEX AND AGE - Total population                 1794 non-null int64
Percent; SEX AND AGE - Total population                1794 non-null object
Number; SEX AND AGE - Male population                  1794 non-null int64
Percent; SEX AND AGE - Male population                 1794 non-null object
Number; SEX AND AGE - Female population                1794 non-null int64
Percent; SEX AND AGE - Female population               1794 non-null object
Number; RACE - Total population                        1794 non-null int64
Percent; RACE - Total population                       1794 non-null object
Number; RACE - Total population - One Race             1794 non-null int64
Percent; RACE - Total population - One Race            1794 non-null object
Number; RACE - Total population - One Race - White     1794 non-null int64
Percent; RACE - Total population - One Race - White    1794 non-null object
dtypes: int64(7), object(8)
memory usage: 210.3+ KB

In [9]:
census.head()

,Id,Id2,Geography,Number; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Number; SEX AND AGE - Male population,Percent; SEX AND AGE - Male population,Number; SEX AND AGE - Female population,Percent; SEX AND AGE - Female population,Number; RACE - Total population,Percent; RACE - Total population,Number; RACE - Total population - One Race,Percent; RACE - Total population - One Race,Number; RACE - Total population - One Race - White,Percent; RACE - Total population - One Race - White
0,8600000US06390,6390,ZCTA5 06390,236,100.0,118,50.0,118,50.0,236,100.0,232,98.3,227,96.2
1,8600000US10001,10001,ZCTA5 10001,21102,100.0,10184,48.3,10918,51.7,21102,100.0,20301,96.2,13722,65.0
2,8600000US10002,10002,ZCTA5 10002,81410,100.0,38570,47.4,42840,52.6,81410,100.0,78659,96.6,25506,31.3
3,8600000US10003,10003,ZCTA5 10003,56024,100.0,26750,47.7,29274,52.3,56024,100.0,54240,96.8,42794,76.4
4,8600000US10004,10004,ZCTA5 10004,3089,100.0,1610,52.1,1479,47.9,3089,100.0,2974,96.3,2167,70.2

In [10]:
census_dem = census[['Geography','Percent; SEX AND AGE - Female population','Percent; RACE - Total population - One Race - White']]

In [11]:
census_dem.head()

,Geography,Percent; SEX AND AGE - Female population,Percent; RACE - Total population - One Race - White
0,ZCTA5 06390,50.0,96.2
1,ZCTA5 10001,51.7,65.0
2,ZCTA5 10002,52.6,31.3
3,ZCTA5 10003,52.3,76.4
4,ZCTA5 10004,47.9,70.2

In [12]:
census_dem = census_dem.rename(columns={'Percent; SEX AND AGE - Female population':'Percent_Female'})

In [13]:
census_dem = census_dem.rename(columns={'Percent; RACE - Total population - One Race - White':'Percent_White'})

In [14]:
census_dem.head(20)

      Geography Percent_Female Percent_White
0   ZCTA5 06390           50.0          96.2
1   ZCTA5 10001           51.7          65.0
2   ZCTA5 10002           52.6          31.3
3   ZCTA5 10003           52.3          76.4
4   ZCTA5 10004           47.9          70.2
5   ZCTA5 10005           51.7          70.1
6   ZCTA5 10006           49.6          69.3
7   ZCTA5 10007           43.4          75.6
8   ZCTA5 10009           53.7          62.1
9   ZCTA5 10010           53.7          73.8
10  ZCTA5 10011           49.0          80.3
11  ZCTA5 10012           50.9          75.6
12  ZCTA5 10013           49.6          55.6
13  ZCTA5 10014           51.1          87.9
14  ZCTA5 10016           54.2          74.8
15  ZCTA5 10017           54.8          75.4
16  ZCTA5 10018           46.5          57.0
17  ZCTA5 10019           50.1          69.3
18  ZCTA5 10020            (X)           (X)
19  ZCTA5 10021           56.7          88.0

In [15]:
census_dem = census_dem.rename(columns={'Geography':'Zip_Code'})

In [16]:
census_dem['Percent_Female'] = pd.to_numeric(census_dem['Percent_Female'], errors='coerce')

In [17]:
census_dem['Percent_White'] = pd.to_numeric(census_dem['Percent_White'], errors='coerce')

In [18]:
census_dem['Percent_Non_White'] = 1 - census_dem['Percent_White']

In [19]:
census_dem.head()

      Zip_Code  Percent_Female  Percent_White  Percent_Non_White
0  ZCTA5 06390            50.0           96.2              -95.2
1  ZCTA5 10001            51.7           65.0              -64.0
2  ZCTA5 10002            52.6           31.3              -30.3
3  ZCTA5 10003            52.3           76.4              -75.4
4  ZCTA5 10004            47.9           70.2              -69.2

In [20]:
census_dem[['DROP', 'ZIP']] = census_dem['Zip_Code'].str.split(expand=True)

In [21]:
census_dem.head()

      Zip_Code  Percent_Female  Percent_White  Percent_Non_White   DROP    ZIP
0  ZCTA5 06390            50.0           96.2              -95.2  ZCTA5  06390
1  ZCTA5 10001            51.7           65.0              -64.0  ZCTA5  10001
2  ZCTA5 10002            52.6           31.3              -30.3  ZCTA5  10002
3  ZCTA5 10003            52.3           76.4              -75.4  ZCTA5  10003
4  ZCTA5 10004            47.9           70.2              -69.2  ZCTA5  10004

In [22]:
census_dem.dtypes

Zip_Code              object
Percent_Female       float64
Percent_White        float64
Percent_Non_White    float64
DROP                  object
ZIP                   object
dtype: object

In [23]:
census_dem['Percent_Female'] = census_dem['Percent_Female'].div(100)

In [24]:
census_dem['Percent_White'] = census_dem['Percent_White'].div(100)

In [25]:
census_dem.head()

      Zip_Code  Percent_Female  Percent_White  Percent_Non_White   DROP    ZIP
0  ZCTA5 06390           0.500          0.962              -95.2  ZCTA5  06390
1  ZCTA5 10001           0.517          0.650              -64.0  ZCTA5  10001
2  ZCTA5 10002           0.526          0.313              -30.3  ZCTA5  10002
3  ZCTA5 10003           0.523          0.764              -75.4  ZCTA5  10003
4  ZCTA5 10004           0.479          0.702              -69.2  ZCTA5  10004

In [26]:
census_clean = census_dem[['ZIP', 'Percent_Female', 'Percent_White','Percent_Non_White']]

In [27]:
census_clean.head()

     ZIP  Percent_Female  Percent_White  Percent_Non_White
0  06390           0.500          0.962              -95.2
1  10001           0.517          0.650              -64.0
2  10002           0.526          0.313              -30.3
3  10003           0.523          0.764              -75.4
4  10004           0.479          0.702              -69.2

In [29]:
with open('pickle/census_clean.pickle', 'wb') as to_write:
    pickle.dump(census_clean, to_write)